<div class="media-body">
    <header class="media-heading">
        <h4><%= title %></h4>
    </header>
    <div>
        <ul class="list-unstyled">
            <li>
                <span class="fa fa-user"></span> <%= author %>
            </li>
            <li>
                <span class="fa fa-clock-o"></span> <%= date %>
            </li>
        </ul>
        <%= text %>
    </div>
    <footer class="text-right">
        <div class="btn-group">
            <a href="#" class="btn btn-primary">
                <span class="fa fa-reply" aria-hidden="true"></span> Reply
            </a>
            <a href="#" class="btn btn-info">
                <span class="fa fa-quote-left" aria-hidden="true"></span> Quote
            </a>
        </div>
    </footer>
    <hr>
</div>
