<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container-fluid">
        <div class="pull-left">
            <div class="btn-back">
                <div class="title">
                    <a id="btn-back" href="#" role="button">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span> <%= lang.courseAgenda %>
                    </a>
                </div>
            </div>
        </div>     
    </div>
</nav>
<section class="page-inside">
    <div class="container">
        <article id="ls-course-agenda">
            
        </article>
    </div>
</section>
