<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand title" href="javascript: history.back();" role="button">
                <span class="fa fa-arrow-left" aria-hidden="true"></span> <%= lang.announcement %>
            </a>
        </div>
    </div>
</nav>

<section class="container" id="container">
    <div id="course-announcement-<%= id %>">
        <article class="panel panel-default" >
            <header class="panel-heading">
                <h3 class="panel-title"><%= title %></h3>
            </header>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <span class="fa fa-user" aria-hidden="true"></span> <%= creatorName %>
                    </li>
                    <li>
                        <span class="fa fa-clock-o" aria-hidden="true"></span> <%= date %>
                    </li>
                </ul>
                <hr>
                <div class="article-content">
                    <%= content %>
                </div>
            </div>
        </article>
    </div>
</section>
