<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript: history.back();" role="button">
                <span class="fa fa-arrow-left" aria-hidden="true"></span> <%= lang.courseDescriptions %>
            </a>
        </div>
    </div>
</nav>

<section class="container" id="container">
    <div id="ls-course-descriptions">
        <ul class="nav nav-tabs" role="tablist"></ul>
        <div class="tab-content"></div>
    </div>
</section>
