<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container">
        <button onclick="history.back();">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
            <span class="sr-only">Back</span>
        </button>
        <span class="navbar-text"><%= lang.forumCategories %></span>
    </div>
</nav>

<section class="container" id="container">
    <div class="panel-group" id="ls-course-forumcategories" role="tablist" aria-multiselectable="true">
    </div>
</section>
