<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container-fluid">
        <div class="pull-left">
            <div class="btn-back">
                <a id="btn-close" href="#" role="button">
                <span class="fa fa-arrow-left" aria-hidden="true"></span> My courses
            </a>
            </div>
        </div>     
    </div>
</nav>
<section class="page-inside">
    <div class="container">
        <article id="courses-list">
            
        </article>
    </div>
</section>
