<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a id="btn-go-to-back" href="#" role="button">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span> <%= title %>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <p>
                <a href="#description/<%= id %>" class="btn btn-default">
                    <img class="center-block" src="img/info.svg" alt="Description">
                    <span class="h4">Description</span>
                </a>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>
                <a class="btn btn-default" href="#documents/<%= id %>/0">
                    <img class="center-block" src="img/documents.svg" alt="Documents">
                    <span class="h4">Documents</span>
                </a>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>
                <a class="btn btn-default" href="#announcements/<%= id %>">
                    <img class="center-block" src="img/valves.svg" alt="Announcement">
                    <span class="h4">Announcements</span>
                </a>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>
                <a class="btn btn-default" href="#agenda/<%= id %>">
                    <img class="center-block" src="img/agenda.svg" alt="Agenda">
                    <span class="h4">Agenda</span>
                </a>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>
                <a class="btn btn-default" href="#forumcategories/<%= id %>">
                    <img class="center-block" src="img/forum.svg" alt="Forum">
                    <span class="h4">Forum</span>
                </a>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>
                <a class="btn btn-default" href="#notebook/<%= id %>">
                    <img class="center-block" src="img/notebook.svg" alt="Notebook">
                    <span class="h4">Notebook</span>
                </a>
            </p>
        </div>
    </div>
</section>
