<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand title" href="javascript: history.back();">
                <span class="fa fa-arrow-left" aria-hidden="true"></span> <span id="lbl-title"><%= title %></span>
            </a>
        </div>
    </div>
</nav>

<section class="container" id="container">
    <% if (tools.length) { %>
        <div class="row">
            <%
                _.each(tools, function (tool) {
                    switch (tool.type) {
                        case 'course_description':
            %>
            <div class="col-xs-6 col-md-4">
                <div class="tools">
                    <a class="btn btn-raised btn-default btn-block" href="#description">
                        <img class="center-block" src="img/info.svg" alt="Description">
                        <div class="title"><%= lang.description %></div>
                    </a>
                </div>
            </div>
            <%
                            break;
                        case 'document':
            %>
            <div class="col-xs-6 col-md-4">
                <div class="tools">
                    <a class="btn btn-raised btn-default btn-block" href="#documents/0">
                        <img class="center-block" src="img/documents.svg" alt="Documents">
                        <div class="title"><%= lang.documents %></div>
                    </a>
                </div>
            </div>
            <%
                            break;
                        case 'learnpath':
            %>
            <div class="col-xs-6 col-md-4">
                <div class="tools">
                    <a class="btn btn-raised btn-default btn-block" href="#lpcategories">
                        <img class="center-block" src="img/scorms.svg" alt="Documents">
                        <div class="title"><%= lang.learningPaths %></div>
                    </a>
                </div>
            </div>
            <%
                            break;
                        case 'forum':
            %>
            <div class="col-xs-6 col-md-4">
                <div class="tools">
                    <a class="btn btn-raised btn-default btn-block" href="#forumcategories">
                        <img class="center-block" src="img/forum.svg" alt="Forum">
                        <div class="title"><%= lang.forum %></div>
                    </a>
                </div>
            </div>
            <%
                            break;
                        case 'calendar_event':
            %>
            <div class="col-xs-6 col-md-4">
                <div class="tools">
                    <a class="btn btn-raised btn-default btn-block" href="#agenda">
                        <img class="center-block" src="img/agenda.svg" alt="Agenda">
                        <div class="title"><%= lang.agenda %></div>
                    </a>
                </div>
            </div>
            <%
                            break;
                        case 'notebook':
            %>
            <div class="col-xs-6 col-md-4">
                <div class="tools">
                    <a class="btn btn-raised btn-default btn-block" href="#notebook">
                        <img class="center-block" src="img/notebook.svg" alt="Notebook">
                        <div class="title"><%= lang.notebook %></div>
                    </a>
                </div>
            </div>
            <%
                            break;
                        case 'announcement':
            %>
            <div class="col-xs-6 col-md-4">
                <div class="tools">
                    <a class="btn btn-raised btn-default btn-block" href="#announcements">
                        <img class="center-block" src="img/valves.svg" alt="Announcement">
                        <div class="title"><%= lang.announcements %></div>
                    </a>
                </div>
            </div>
            <%
                            break;
                    }
                });
            %>
        </div>
    <% } %>
</section>
