<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a id="btn-back" href="#" role="button">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span> Thread
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="container" id="forum-thread-<%= id %>">
    <header>
        <h2 class="page-header"><%= title %></h2>
    </header>
    <% if (posts.length) { %>
        <div class="media-list" id="lst-posts"></div>
    <% } %>
</section>
