<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container-fluid">
        <div class="pull-left">
            <div class="btn-back">
                <a id="btn-close" href="#" role="button">
                    <div class="title">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span><%= title %>
                    </div>
                </a>
            </div>
        </div>     
    </div>
</nav>
<section class="page-inside bg-white">
    <div class="container">
        <article class="list-tools">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a class="btn btn-raised btn-default btn-block" href="#description/<%= id %>">
                        <img class="center-block" src="img/info.svg" alt="Description">
                        <div class="title">Description</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a class="btn btn-raised btn-default btn-block" href="#documents/<%= id %>/0">
                        <img class="center-block" src="img/documents.svg" alt="Documents">
                        <div class="title">Documents</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a class="btn btn-raised btn-default btn-block" href="#lpcategories/<%= id %>">
                        <img class="center-block" src="img/scorms.svg" alt="Documents">
                        <div class="title">Learning paths</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a class="btn btn-raised btn-default btn-block" href="#forumcategories/<%= id %>">
                        <img class="center-block" src="img/forum.svg" alt="Forum">
                        <div class="title">Forum</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a class="btn btn-raised btn-default btn-block" href="#agenda/<%= id %>">
                        <img class="center-block" src="img/agenda.svg" alt="Agenda">
                        <div class="title">Agenda</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a class="btn btn-raised btn-default btn-block" href="#notebook/<%= id %>">
                        <img class="center-block" src="img/notebook.svg" alt="Notebook">
                        <div class="title">Notebook</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a class="btn btn-raised btn-default btn-block" href="#announcements/<%= id %>">
                        <img class="center-block" src="img/valves.svg" alt="Announcement">
                        <div class="title">Announcements</div>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
