<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container">
        <div class="navbar-header pull-right">
            <a class="navbar-brand title" id="btn-reply" href="#" role="button" title="Reply" data-toggle="modal" data-target="#dlg-reply">
                <span class="fa fa-reply" aria-hidden="true"></span>
                <span class="sr-only"><%= lang.reply %></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand title" href="javascript: history.back();" role="button">
                <span class="fa fa-arrow-left" aria-hidden="true"></span> <%= lang.thread %>
            </a>
        </div>
    </div>
</nav>

<section class="container" id="container">
    <article id="forum-thread-<%= id %>">
        <header>
            <h2 class="page-header"><%= title %></h2>
        </header>
        <% if (posts.length) { %>
            <div class="media-list" id="lst-posts"></div>
        <% } %>
    </article>
</section>

<aside class="modal fade" id="dlg-reply" tabindex="-1" role="dialog" aria-labelledby="dlg-reply-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dlg-reply-label">Reply to <cite><%= title %></cite></h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post" id="frm-reply" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="txt-reply-title"><%= lang.title %></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txt-reply-title" value="Re: <%= title %>" placeholder="<%= lang.title %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="txt-reply-text"><%= lang.text %></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="txt-reply-text" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="chk-reply-notify" value="1"> <%= lang.notifyMeByEmail %>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-block"><%= lang.replyThisThread %></button>
                        </div>
                    </div>
                    <input type="hidden" id="txt-reply-thread" value="<%= id %>">
                    <input type="hidden" id="txt-reply-forum" value="<%= forumId %>">
                </form>
            </div>
        </div>
    </div>
</aside>
