<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow" role="navigation">
    <div class="container">
        <button onclick="history.back();">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
            <span class="sr-only">Back</span>
        </button>
        <span class="navbar-text"><%= lang.courseDescriptions %></span>
    </div>
</nav>

<section class="container" id="container">
    <div id="ls-course-descriptions">
        <ul class="nav nav-tabs" role="tablist"></ul>
        <div class="tab-content"></div>
    </div>
</section>
