<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav pull-left">
            <li>
                <a id="btn-close" href="#" role="button">
                    <i class="glyphicon glyphicon-remove"></i><span class="sr-only">Back</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="disabled">
                <a id="prev-message" href="#" role="button">
                    <i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="disabled">
                <a id="next-message" href="#" role="button">
                    <i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="container message-view">
    <article class="panel panel-primary">
        <header class="panel-heading">
            <h1 class="panel-title"><%= title %></h1>
        </header>
        <div class="panel-body">
            <i class="glyphicon glyphicon-user"></i> <%= sender %>
            <a href="<%= url %>" target="_blank" rel="external" class="btn btn-xs btn-warning pull-right">
                <i class="glyphicon glyphicon-link"></i> View in platform
            </a>
            <br>
            <i class="glyphicon glyphicon-time"></i> <%= sendDate %>
            <% if (hasAttachment) { %>
                <br>
                <i class="glyphicon glyphicon-paperclip"></i> Has attachments
            <% } %>
            <hr>
            <%= content %>
        </div>
    </article>
</section>
