<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav pull-left">
            <li>
                <a id="btn-close" href="#" role="button">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span><span class="sr-only">Back</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="disabled">
                <a id="prev-message" href="#" role="button">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="disabled">
                <a id="next-message" href="#" role="button">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="container message-view">
    <article class="panel panel-primary">
        <header class="panel-heading">
            <h1 class="panel-title"><%= title %></h1>
        </header>
        <div class="panel-body">
            <span class="fa fa-user" aria-hidden="true"></span> <%= sender %>
            <a href="<%= url %>" target="_blank" rel="external" class="btn btn-xs btn-warning pull-right">
                <span class="fa fa-link" aria-hidden="true"></span> View in platform
            </a>
            <br>
            <span class="fa fa-clock-o" aria-hidden="true"></span> <%= sendDate %>
            <% if (hasAttachment) { %>
                <br>
                <span class="fa fa-paperclip" aria-hidden="true"></span> Has attachments
            <% } %>
            <hr>
            <%= content %>
        </div>
    </article>
</section>
