<div class="container">
    <ul class="nav navbar-nav pull-left">
        <li class="disabled">
            <a id="prev-message" href="#" role="button">
                <i class="glyphicon glyphicon-chevron-left"></i> Previous
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li class="disabled">
            <a id="next-message" href="#" role="button">
                Next <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </li>
    </ul>
</div>
