body {
    padding: 0;
    margin: 0;
}
hr {
    margin: 10px 0;
}

.nav.navbar-nav {
    font-size: 20px;
}
.nav.navbar-nav li {
    display: inline-block;
}
.nav.navbar-nav li a {
    color: #FFF !important;
}
.nav.navbar-nav li.disabled a {
    opacity: 0.5 !important;
    color: #FFF !important;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar-brand {
    color: #FFF;
}

.article-content {
    overflow-x: auto;
}

.word-break-all {
    word-break: break-all;
}
/* CSS PAGES */
.page-inside{
    padding-top: 65px;
}
#page-login{
    background: #01579b;
    background: -moz-linear-gradient(top, #01579b 0%, #2196f3 100%);
    background: -webkit-linear-gradient(top, #01579b 0%,#2196f3 100%);
    background: linear-gradient(to bottom, #01579b 0%,#2196f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01579b', endColorstr='#2196f3',GradientType=0 );
    position: static;
    top: 0;
    margin: 0;
    padding-bottom: 10%;
    padding-top: 10%;
}
#page-login .form-group{
    margin: 0;
}
.my-host legend{
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
}
.app-text-normal{
    color: #FFFFFF;
}
.app-text-secundary{
    color: #757575;
}
.app-text-primary{
    color: #212121;
}
.app-color-accentuation{
    color: #FF5722;
}
.app-color-primary{
    color: #2196f3;
}
.app-color-dark{
    color: #1976D2;
}
.app-color-primary-light{
    color: #BBDEFB;
}
.bold{
    font-weight: bold;
}
.description{
    padding-top: 15px;
    padding-bottom: 15px;
}
.description .title{
    font-size: 18px;
    margin: 0;
}
.description .code{
    font-size: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.btn-back{
    color: #FFFFFF;
    padding-top: 15px;
}
.btn-back a{
    color: #FFFFFF;
}
.btn-back a:hover, .btn-back a:focus{
    text-decoration: none;
}
.bg-white{
    background-color: white;
}
.navbar .title span{
    margin-right: 10px;
}
.navbar .title{
    width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nav-shadow{
    -webkit-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.43);
    box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.43);
}
.list-tools .tool{
    text-align: center;
    border: 1px solid #bdbdbd;
    background-color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}
.list-tools .tool:hover, .list-tools .tool:focus{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
}
.list-tools .tool a{
    display: block;
    font-size: 14px;
    color: #212121;
}
.list-tools .tool a:hover, .list-tools .tool a:focus{
    text-decoration: none;
}
.list-tools .tool .title{
    font-size: 12px;
    color: #212121;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
